<p class="bg-red-400 p-4 text-center text-3xl" >Home page</p>
<%= evil_icon 'ei-search' %>
<%= evil_icon 'ei-arrow-right', size: :m %>
<%= evil_icon 'ei-envelope', size: :l, class: "text-purple-400" %>
